* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(255, 102, 0);

}

main {
    background-color: aliceblue;
    width: 800px;
    margin: auto;
    padding: 30px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.137);
}